#menubar {
	 padding-top:10px; 
     padding-bottom:10px; 	 
	 margin-top:20px; 
     margin-bottom:20px;	 
	 border-top:1px solid #aaaaaa;
	 border-bottom:1px solid #aaaaaa;
	 margin-right:200px;
	
	
}