#header {  background-color:#DCDCCA;  padding:10px;  height:50px;margin:1%; }  
#navigation {  background-color:black;  padding:10px;  height:40px;margin-left:1%;margin-right:1%; word-spacing:40px; font-size:1.25em; }
#navigation2 {  background-color:white;  height:500px;margin-left:1%;margin-right:1%} 
#page{background-color:#DCDCCA;}		   
#footer {background-color:#DCDCCA;  padding:10px;  height:49px;  clear:both;  margin:1%	}  
 .column1of4, .column2of4, .column3of4,.column4of4 {  float:left;  width:280px; margin-right:0.9%; margin-left:1%; border-bottom: 10px solid #DCDCCA;
 background-color:white;  padding:1%;  margin-top:20px;  height:560px;}
 
 #one{float:left; font-size:2em;color:#B80000}
 #two{float:right;}
 #xyz{margin-right:10px}
 img.main{margin-top:5px}
 
 #p2{background-color:white;}
 #p1{background-color:#cccccc;}
 #p4{background-color:#cccccc;}
 img.main1{width:100%}
 

#p6{ margin-top:212px}
img.im{width:102%; margin-bottom:10px}
 #p7{background-color:#cccccc;}
 img.im3{width:102%; margin-bottom:10px}
  
#p9{ margin-top:247px} 

 #p10{background-color:#cccccc;}
 
 #p12{ margin-top:202px}
img.im4{width:102%; margin-bottom:10px}

  #p20{ word-spacing:10px; float:right;}
 img.im6{float:right;}
  #p21{float:right;}
  img.im5{float:left;}
