

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">


<head><link rel="stylesheet" type="text/css" href="stylesheet.css" /> 
  
<title>Layout</title>
</head>
 <body>    <div id="frame">      <div id="page">      
 <div id="header"> <p id="topleft"> Some Company Name </p> <p id="topright"> add to favourites|share|contact team </div>       
 <div id="navigation"> <input type="submit" id="search" value="Search"> <input type="text" id="text" name="fname">   </div> 
<div id="login"> <p id="home"> home > project > project launch </p> <p id="login1"> Hello Guest[<a href="login.html">login</a> ] </div>
 <div class="column1of3"><ul id="one"> <li> <img class="main_image" src="adddoc.png"> Add-A-Doc <img class="main_image" src="plus.png"></li> 
                               <li><img class="main_image" src="quicknote.png"> Quick-Note <img class="main_image" src="plus.png"> </li>
							   <li> <img class="main_image" src="email.png"> email<img class="main_image" src="plus.png"> </li>
							   <li> <img class="main_image" src="calender.png"> discussion <img class="main_image" src="plus.png"> </li>
							   <li> <img class="main_image" src="discussion.png"> calender <img class="main_image" src="plus.png"></li></ul></div>  
							   <p id="left"><h3>Project Overview</h3></p>
<div class="columns2and3of3">  <p id="right">Team lead:<a href="janeSmith.html"> Jane Smith</a>|
<a href="viewfullteam.html"> view Full Team</a> <img class="main_image1" src="jsmith.jpg"><textarea rows="10" cols="70"> 
Born: july 13,1954-Lisbon ,Portugal
Community services workers are typically employed by community centers and organizations that focus on community outreach and care. They are a type of human services worker, which is a term used to describe a wide array of jobs that focus on providing care, support
 and counseling to individuals dealing with issues such as adult daycare,
 substance abuse, human relationships and rehabilitation.A community services worker's clients often include pregnant teens, homeless people, families and the elderly. Most of a community services worker's duties are conducted in an office environment, and potential employers
 may include halfway houses, housing programs supported by state and local governments and group homes.
</textarea></div>   

<div class="columns1and2and3of3"> <div id="lf"> <img class="main_image2" src="discussion.png"> Discussions <a href="add.html"><input type="button" id="button" value="Add+"></a></div>
<div id="rt"><img class="main_image3" src="quicknote.png"> Quicknotes <a href="add.html"><input type="button" id="button" value="Add+"></a></div></div>
 <div class="columns1and2of3">  <table>    <tr class="odd">      <th> Date </th> <th> title </th> <th> Owner </th>   </tr>  
 <tr class="false">      <td> 11/4</td>      <td> who is assuming responsibility</td>  <td> Jane Smith</td>  </tr>    <tr class="true">      <td> 3/12 </td>      
 <td> seeking feedback </td>   <td> roy </td> </tr>     <tr class="false">      <td> 7/13</td>      <td> project planning </td> <td> Carrie</td>    </tr>   
 <tr class="true">       <td> 7/13</td>      <td> project planning </td> <td> Carrie</td>     </tr>    </table>    </div>    
 <div class="column3of3"> <ul id="two"> <li> <img class="main_image" src="a.jpg"> ghdd qdiqi yuwdkw dsdhgui dvfagt dhgyfd dghfdhjng xhsxhbxhsxb</li> 
                               <li><img class="main_image" src="b.jpg"> hgfwfjmb sdfdaest sgetqsuqsk csguf dshgs adhyyqah agsgjxjx</li>
							   <li> <img class="main_image" src="c.jpg"> hfehfiwh ddhwdwduw sgashah dgfsjdb svbdg xjxbjwxjwbxjwxb axhbajxbaxb</li>
							  </ul>
							            </div>            
     
 <div id="footer"> <p id=fr>All content is for internal use only </div>         </div>  </body>   
</html>
