#menubar {
	 padding-top:10px; 
     padding-bottom:10px; 	 
	 margin-top:20px; 
     margin-bottom:20px;	 
	 border-top:1px solid #aaaaaa;
	 border-bottom:1px solid #aaaaaa;
	 word-spacing:20px;
	margin-right:200px;
	
}
img.main_image{
	border:1px solid #000000;
	margin-right:10px;
	margin-bottom:10px;
}


