@media screen and (min-width:920px) and (max-width:1360px){
.link-list-item {
	
	width: auto;
	margin-left:0.5%;
	padding :.5% .5%;
	display:inline-block;
	color:white;
	background-color:#424242;
	
}
.link-list-item:hover{
	
	width:auto;
	margin-left:.5%;
	padding :.5% .5%;
	display:inline-block;
	color:white;
	background-color:black;
	-moz-box-shadow:0 0 .5px #ccc;
	-webkit-box-shadow:0 0 .5px #ccc;
	box-shadow:0 0 .5px #ccc;
	
}}


@media screen and (min-width:640px) and (max-width:920px){
	.menu{
		
		
		display:none;
	}
	
	.hamburger{
		display:block;
		margin-left:.5%;
		padding:.5% .5%;
		
	}
	}
	@media screen and (max-width:640px){
	.section:hover {
	float: left;
	width: 94%;
	height: 520px;
	margin: 2%;
	padding: 1%;
	background-color: rgba(255,255,255,.7);
	border: 1px solid black;
	color: black;
	border-radius: 3px;
	text-align: justify;
}
	.foot,#sm,#cr{
		
		width:100%;
		float:left;
	}
	
}